<div>
Hola mundo

<button class="botonExit btn-success" ng-click="goToLogout()" type="submit" name="botonExit" value="exit"> Boton</button>



</div>
<div>
<form name="guardar">
<input type="text" name="nombrePerfil" placeholder="Nombre Perfil">
   
</form>
 <button type="submit" class="btn-success" name="boton" value="guardar" ng-click="insertarprueba()">Guardar</button>

</div>

    
  <script src="/js/jsprueba.js" type="text/javascript"></script> 
  <script src="/./script.js" type="text/javascript"></script>